h1{
    color: white;
}

.playButton {
    border-radius: 20px;
    border: 2px solid white;
    width: 50%;
    padding: 0;             
    text-align: center;
    font-size: 20px;
}

#startBtn {
    display: block;         
    width: 96%;
    padding: 2%;
    text-decoration: none;   
    color: white;
    border-radius: 18px;    
    
}

.playButton:hover #startBtn {
    background-color: rgb(2, 136, 0);
    cursor: pointer;
    background-image: url("images/snake.png");
    background-size:cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    color: white;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas{
    width: 100%;
    border: 2px solid white;
}

#gameBody{
    padding: 20px 50px 0 50px;
}

#score{
    color: white;
    align-items:left;
    width: 100%;
    margin-bottom: 1%;
    font-size: 20px;
    
}

#countdown {
    position: absolute;          
    top: 50%;                    
    left: 50%;                  
    transform: translate(-50%, -50%); 
    font-size: 300px;           
    font-weight: bold;
    color: white;
    z-index: 100;                
    pointer-events: none;        
    text-shadow: 2px 2px 10px black; 
}
